.sign-card{
    width: 400px;
    height: 500px;
    background-color: aliceblue;
    margin: 70px auto;
    border-radius: 8px;
}

.sign-card-content{
    background-color: aliceblue;
    text-align: center;
    border-radius: 8px;

}

.sign-text{
    color:#142d35;
    background-color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    margin: 10px auto;
}

.sign-input{
    background-color: aliceblue;
}


.sign-input-password,
.sign-input-email,
.sign-input-firstname,
.sign-input-secondname,
.sign-input-otch,
.sign-input-pasport{
    width: 300px;
    height: 40px;
    margin: 10px auto;
    background-color: aliceblue;
    border: 1px solid #142d35;
    color: aliceblue;
    padding: 0 5px;
    animation: cursorBlink 2s infinite;
    color:hsl(195, 45%, 14%);
    font-size: 16px !important;
}

.sign-input-password::placeholder,
.sign-input-email::placeholder,
.sign-input-firstname::placeholder,
.sign-input-secondname::placeholder,
.sign-input-otch::placeholder,
.sign-input-pasport::placeholder{
    font-size: 16px;
}

.sign-btn{
    width: 300px;
    margin: 0 auto;
    background-color: #1F3E47;
    border: 1px solid #1F3E47;
}

.sign-btn:hover{
    background-color: #2e515b;
    border: 1px solid #2e515b;
}

.sign-btn:active{
    background-color: #2e515b !important; 
    border: 1px solid #2e515b !important;
}


.sign-to-login{
    background-color: aliceblue;
}

.sign-link{
    background-color: aliceblue;
}


