.breadcrumb-link{
    margin-left: 50px;
    margin-top: 10px;
    color:aliceblue
}

.breadcrumb-link:hover{
    color:rgb(196, 205, 213)
}

.breadcrumbs{
    margin-top: 10px;
    margin-left: 80px;
}

.breadcrumb-separator{
    color: aliceblue;
}

.breadcrumb-link{
    margin-left: 3px;
}