.tableApps{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #35525A;
    border-radius: 8px;
    background: #000 !important;
    --bs-table-bg: #35525A;
    border-color: #1F3E47;
    --bs-table-color: rgb(223, 233, 241)
}