.main-card{
    max-width: 300px;
    height: 400px;
    width: 300px;
    /* border: 2px solid #3e6a77; */
    border-radius: 8px;
    background-color: #35525A;
    box-shadow: 3px 3px 4px #335a66;
    color: rgb(225, 249, 252) !important;
}

.main-card-image{
    border-radius: 8px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    height: 170px;
    opacity: 0.9;
}

.main-card-body{
    padding: 10px 10px !important;
    position: relative;
    height: 210px;
    background-color: #35525A;
}

.main-card-title{
    font-size: 20px;
    font-weight: 400;
    background-color: #35525A;
    opacity: 0.9;
}

.main-card-text{
    font-size: 15px;
    line-height: 17px;
    background-color: #35525A;
    font-weight: 200;
    opacity: 0.9;
    margin-top: 10px;
}

.price-btn-container{
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    width: 280px;
    background-color: #35525A;
}


.main-card-btn{
    background-color: #35525A !important;
    border: 1px solid aliceblue !important;
}

.main-card-btn:hover{
    background-color: aliceblue !important;
    color: #35525A !important;
}

.main-card-price{
    background-color: #35525A;
    font-size: 26px;
    font-weight: 200;
}

.add-to-app{
    background-color: aliceblue;
    border: 1px solid aliceblue;
}

.add-to-app:hover{
    background-color: rgb(205, 217, 228) !important;
    border: 1px solid aliceblue !important;
}

.plusik{
    background: none;
    width: 20px;
    /* background-color: aliceblue; */
    color: #1F3E47;
}