.row-main{
    padding: 20px 20px !important;
    max-width: 1396px;
    margin: auto;
}

.g-col{
    margin-bottom: 50px;
    max-width: 354px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}


.draft{
    margin-left: 1270px;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    color: #1F3E47;
    position: fixed;
    z-index: 1000;
}

.draft:hover{
    background-color: rgb(215, 221, 227) !important;
    color: #1F3E47;
    border: 1px solid rgb(215, 221, 227);
}




