.row-main{
    padding: 50px 20px !important;
    max-width: 1396px;
    margin: auto;
}

.g-col{
    margin-bottom: 50px;
    max-width: 354px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}



