.row-main{
    padding: 20px 20px !important;
    max-width: 1396px;
    margin: auto;
}

.g-col{
    margin-bottom: 50px;
    max-width: 354px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}


.draft{
    margin-left: 1270px;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    color: #1F3E47;
    position: absolute;
    z-index: 1000;
}

.draft2{
    margin-left: 1270px;
    background-color: rgb(140, 149, 156);
    border: 1px solid aliceblue;
    color: #1F3E47;
    position: absolute;
    cursor: not-allowed;
    z-index: 1000;
}
.draft2:hover{
    margin-left: 1270px;
    background-color: rgb(140, 149, 156);
    border: 1px solid aliceblue;
    color: #1F3E47;
    position: absolute;
    cursor: not-allowed;
    z-index: 1000;
}

.draft:hover{
    background-color: rgb(215, 221, 227) !important;
    color: #1F3E47;
    border: 1px solid rgb(215, 221, 227);
}

.trash{
    color: 'aliceblue';
    background: 'none';
    width: 40px;
    margin-left: 1370px;
    position: absolute;
    z-index: 1000;
}

.trash:hover{
    cursor: pointer;
    color: rgb(216, 223, 230);
}




