.input-form{
    margin-top: 20px;
    min-width: 350px;
    height: 47px;
    margin-left: 80px;
    display: flex;

}

.input-field{
    width: 300px;
    height: 35px;
    /* height: 40px; */
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #35525A;
    color: aliceblue;
    border: 1px solid aliceblue;
    z-index: 1;
    margin: auto 0;
    padding: 0 5px;
}

.input-field::placeholder{
    color: aliceblue;
    font-size: 14px;
    opacity: 0.5;
}

.input-field:focus{
    outline: 1px solid rgb(219, 168, 252);
}

.input-field::-webkin-clear-button{
    color: red;
}

.btn-search{
    width: 45px;
    height: 35px;
    border-radius: 0px !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    background-color: #35525A !important;
    color: aliceblue;
    border: 1px solid aliceblue !important;
    margin-left: -1px !important;
    margin: auto 0;
}

.btn-search:hover{
    background-color: aliceblue;
    color: #677E84;
    border: 1px solid aliceblue;
}

.btn-search:active{
    background-color: aliceblue !important;
}

.filter-input{
    color:aliceblue
}

.icon{
    height: 35px;
    width: 20px;
    background-color: aliceblue;
    margin-top: -7px;
}


.price-word{
    color: aliceblue;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
