@import url('https://fonts.cdnfonts.com/css/montserrat');


*{
  font-family: 'Monsterrat', sans-serif;
  /* border: 1px solid red; */
  background-color: #1F3E47;
}

li{
  background-color: #35525A;
}

ul{
  background-color: #35525A;
}

.card-app{
  background-color: #35525A;
}

